<figure>
    <img class="full" src="{{ site.baseurl }}/img/nasiruddin-ziauddin.jpg"><figcaption>Nasiruddin and Ziauddin</figcaption>
</figure>

<p class="blurb">Dhrupad is the oldest surviving form of Indian Classical music and traces its origin to the chanting of <a href="https://en.wikipedia.org/wiki/Vedic_chant" target="_blank">vedic hymns and mantras</a>. Though a highly developed classical art with a complex and elaborate grammar and aesthetics, it is also primarily a form of worship, in which offerings are made to the divine through sound or nāda. Dhrupad can be seen at different levels as a meditation, a mantric recitation, a worship, a yoga or <a href="https://en.wikipedia.org/wiki/Tantra" target="_blank">tantra</a> based on the knowledge of the <a href="https://en.wikipedia.org/wiki/Nadi_(yoga)" target="_blank">nādis</a> and <a href="https://en.wikipedia.org/wiki/Chakra">chakras</a> and also purely as a performing art portraying a universe of human emotions.</p>

<figure>
  <div class="imagebox">
    <img class="single" src="{{ site.baseurl }}/img/Dagars.jpg"><figcaption>The Dagars (at the begining of twentieth century)</figcaption>
  </div>
</figure>

<p class="blurb">Dhrupad is a vocal tradition based on the practice of nāda yoga, and is also performed on instruments like the <a href="https://en.wikipedia.org/wiki/Rudra_veena" target="_blank">Rudra Veena</a> and the Sursringār. For the past five centuries Dhrupad has thrived primarily under the patronage of Mughal and Rajput kings. The picture above shows Dhrupad singers Zākiruddin Khan, Allābande Khān, Ziauddin Khan and Nasiruddin Khān (clockwise from top left) the foremost Dhrupad singers in the beginning of the twentieth century. The descendants of Zakiruddin Khan and Allabande Khan adopted the name of the genre – the Ḍāgar Bānī of Dhrupad – as their family name and acquired renown as the Dagar brothers. </p>

<p class="blurb">They kept this art alive in the difficult period after 1947 when it lost the patronage of the royal courts. Zakiruddin and Allabande Khan were brothers and disciples of their grand-uncle Baba Behram Khan, and served respectively in the royal courts of Udaipur and Alwar. They were the foremost Dhrupad singers of their times (late nineteenth and early twentieth century) and were greatly respected for their singing and erudition. Their performances are still remembered with awe and reverence. Please see more details about Zakiruddin and Allabande and their descendants the Dagar Brothers here. </p>

<p class="blurb">Although Dhrupad originated in the chanting of vedic hymns and mantras, it gradually evolved into an independent art form with its own complex grammar. Dhrupad was originally sung in temples and later thrived under the patronage of Mughal and Rajput kings. Fundamental to Dhrupad singing is the practice of Nāda Yoga, in which, through various yogic practices, the singer develops the inner resonance of the body, and can make the sound resonate and flow freely through the entire region from navel to head. This enables the singer to produce a vast palette of subtle tone colours and microtonal shades. The processes of Udātta, Anudātta and Svarita play the same fundamental role in Dhrupad singing as in Vedic recitation. </p>
<p class="blurb"></p>
<p class="blurb"></p>
<p class="blurb"></p>
