<nav>
      <ul>
        <li><a href="" >Home</a></li>
        <li><a href="" >About</a></li>
        <li><a href="" >History</a></li>
        <li><a href="" >Ashish Sankrityayan</a></li>
        <li><a href="" >Concerts</a></li>
        <li><a href="" >Teaching</a></li>
        <li><a href="/articles" >Articles</a></li>
        <li><a href="" >Books & Resources</a></li>
        <li><a href="" >Dhrupad & Hildegard</a></li>
        <li><a href="" >Video</a></li>
        <li><a href="" >Audio</a></li>
        <li><a href="" >Contact</a></li>
      </ul>
    </nav>