.article {
  display: flex;
  justify-content: space-between;
}
.col-left {
  max-width: 67%;
}
.col-right {
  width: 30%;
  padding-top: 160px;

  .clearfix {
  padding-left: $spacing-unit;
  margin-left: $spacing-unit;
  border-left: dashed 3px #777;
  
  }
  ul {
    margin: 0;
    list-style: none;

    ul {
      list-style: none;
    }
  }

}
