.article {
  display: flex;
  justify-content: space-between;
}
.col-left {
  max-width: 67%;
}
.col-right {
  width: 30%;
  padding-top: 160px;

  .clearfix {
  padding-left: $spacing-unit;
  margin-left: $spacing-unit;
  border-left: dashed 1px #777;

  }
  span.sidebar {
    text-transform: capitalize;
  }
  ul {
    margin: 0;
    }

    li {
      list-style: none;
    }
}
