.article {
  display: flex;
  justify-content: space-between;
}
ul.post-list {
  list-style: none;
  margin: 0;
}
.col-left {
  flex: 1 70%;

  img {}
}
.col-right {
  flex:1 1 30%;
  padding-top: 160px;
  line-height: 1.1;
  font-size: $small-font-size;

  .clearfix {
  padding-left: $spacing-unit;
  margin-left: $spacing-unit;
  border-left: dashed 1px #777;
  }
  span.sidebar {
    text-transform: capitalize;
  }
  ul {
    margin: 0;
    }

    li {
      list-style: none;
      margin-bottom: 10px;
    }
}
.post-header {
  margin-bottom: $spacing-unit;

  .post-date {
    font-size: $small-font-size;
  }
  h1.post-title {
    line-height: 1;
    margin: 0;
    letter-spacing: -1px;
  }
  .post-author {
    font-size: $small-font-size;
  }
}
a.download {
  background: darken($download, 40%);
  padding: 3px 5px;
  border: $download 1px solid;
  margin: 60px 0;
  color: $download;
  font-size: 80%;
  font-weight: bold;

  &:hover {
    background: $download;
    text-decoration: none;
    color: white;
  }
}
