.front {
  margin: 0 auto 30px;
}
  figure {
    display: block;
    margin-bottom: 30px;
  }

  .imagebox {
    max-width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    img {
      width: 180px;
    }
  }

  img.full{
    display: block;
    width: 100%;
    }

  img.single {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    font-size: 0.7em;
  }

  p.small-width {
    width: 600px;
    font-size: 1.2em;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .button {
    background: lighten($background-color, 10%);
    box-shadow: 0 0 8px #666;
    padding: 3px 5px;
    margin: 50px auto;
    text-align: center;
    display: block;
    width: 150px;

    &:hover {
      text-decoration: none;
      box-shadow: 0 5px 11px #666;
      font-weight: bold;
    }
  }

  .lighten {
    background: lighten($background-color, 15%);
    // padding: 20px 0;

    // .text-box {
    //   margin: auto;
    //   max-width: 1700px;
    //   display: flex;
    //   justify-content: space-around;
    // }

    .text-box {
      position: relative;
      min-height: 600px; /* This part sucks */
      width: 600px;
      margin: 25px auto;
      clear: both;
    }
    .tab {
      float: left;
    }
    .tab label {
      background: #eee;
      padding: 4px 10px;
      border: 1px solid #ccc;
      margin-left: -1px;
      line-height: normal;
      font-size: 0.8em;
      position: relative;
      left: 1px;
}
    .tab [type=radio] {
      display: none;
    }
    .content {
      position: absolute;
      top: 28px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #ccc;
}
    [type=radio]:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
}
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
    p {
      font-size: 1em;
      line-height: normal;
    }
  }



  .col-3 {
    padding: 15px;
    line-height: normal;
    font-size: $small-font-size;
    max-width: 500px;

    h4 {
      color: lighten($background-color, 30%);
    }
  }

  @include media-query($on-laptop) {
    figcaption {
      padding: 5px 0 0;
    }
    p.small-width {
      width: auto;
      font-size: 1em;
      line-height: normal;
      margin: 0 20px;
    }
    .lighten {
      display: block;
    }
  }
