.front {
  margin: 0 auto 30px;

  figure {
    display: block;
  }

  img.full{
    display: block;
    width: 100%;
    }

  img.single {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    text-align: center;
    padding: 5px 0 20px;
    font-style: italic;
  }

  p.blurb {
    width: 600px;
    font-size: 1.2em;
    margin: 20px auto;
  }
  .button {
    background: lighten($background-color, 10%);
    box-shadow: 0 0 8px #666;
    padding: 3px 5px;
    margin: 50px auto;
    text-align: center;
    display: block;
    width: 150px;

    &:hover {
      text-decoration: none;
      box-shadow: 0 5px 13px #666;
      font-weight: bold;
    }
  }
  @include media-query($on-laptop) {
    figcaption {
      padding: 5px 0 0;
    }
    p {
      width: auto;
      margin: 0 10px;
    }
  }
}
