/*CSS*/
.about {
  background: url(" http://sama66.github.io/q2/img/nasiruddin-ziauddin.jpg" );
  background-size:100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items: flex-end;

  .splash {
    padding-top: 40%;
    padding-bottom: 10%;
  }
  @-moz-document domain(sama66.github.io){
    .splash {
    padding-top: 400px;
    padding-bottom: 100px;
  }
  }

  h1 {
    max-width: 600px;
    line-height: 1.2;
    font-size: 115%;
//    background: rgba(221, 188, 149, 0.8);
    background: rgba(245, 245, 245, 0.8);
    padding: 15px;
  }
}
.small-width {
  margin: 20px auto;
  max-width: 600px;
  font-size: 110%;
  padding-left: 10px;
  padding-right: 10px;
}
.red {
  background: $red;
  padding: $spacing-unit 0;
}
figure {
  .single {
    margin: 0 auto;
  }
  .imagebox {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 800px;

    img {
      width: 200px;
    }
  }
}
.button {
  display: block;
  margin: 50px auto;
  width: 200px;
  text-align: center;
  padding: 3px 5px;
  background: lighten($background-color, 6%);
  box-shadow: 0 2px 5px #000;
  -webkit-transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    box-shadow: 0 5px 10px #000;
    color: #000;
  }
}
