
// Reset basic elements

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font;
}

// Body styling

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: $background-color;
    -webkit-text-size-adjust: 100%;
}



// Set `margin-bottom` to maintain vertical rhythm

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


// Images

img {
    max-width: 100%;
    vertical-align: middle;
}



// Figures

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    text-align: center;
    font-style: italic;
}



// Lists

ul {
  list-style: none;
}

//Links

a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $hover;
        text-decoration: underline;
    }
}


// Blockquotes

blockquote {
    color: lighten($background-color, 30%);
    background: darken($background-color, 10%);
    padding: $spacing-unit / 2;
    font-size: 95%;
    letter-spacing: 1px;
//    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

// Code formatting

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

// Wrapper

.new-page-wrap {
  margin: 0 auto;
  max-width: $content-width;
  background: pink;

    @extend %clearfix;
}
.main-column {
//  padding: 10px 0;
}


// Clearfix

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Icons

.icon {

    > svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;

        path {
            fill: $background-color;
        }
    }
}

// Selection colors (easy to forget)

::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: $selection-color;
}
