//LAPTOP

@media (max-width: $on-laptop){
  .about {
    height: 50vh;

    h1 {
      width: 340px;
      line-height: 1.1;
      font-size: 95%;
      background: rgba(221, 188, 149, 0.6);
      padding: 10px;
    }
  }
  header {
    width: 9.5em;
  }
  .page-content {
    margin-left: 9.5em;
  }
  .imagebox {
    flex-wrap: wrap;

    img {
      width: 100%;
    }
  }
  iframe {
    width: 450px;
    height: 263px;
  }
  .article {
    display: block;
  }
  .col-left img {
    margin-bottom: 5px;
  }
  .col-left, .col-right {
    max-width: 100%;
  }
  .col-right {
    padding: 10px;
    border: 1px #000 solid;
    border-radius: 5px;
    margin-bottom: 10px;
    background: lighten($background-color, 5%);
    font-size: 100%;

    .clearfix {
      padding-left: 0;
      margin-left: 0;
      border: 0;
    }
  }
  .two-box {
    display: block;
  }
  .concerts {
    padding: calc($spacing-unit)/3;


    li {
      margin-right: 2px;
      margin: 2px 2px 2px 0;
      padding: 0 4px;
      font-size: 90%;
    }
  }
}

//PALM-TOP

@media (max-width: $on-palm){
  header {
    width: 100%;
    height: 50px;
    position: fixed;
    border-top: 2px solid $grey-color-dark;
    background: rgba(245, 245, 245, 0.86);

    h1 {
      text-align: left;
      font-size: 1.6em;

      .site-title {

        &,
        &:visited {
            color: lighten($title-color, 10%);

            &:hover {
              color: darken($title-color, 40%);
            }
        }
      }
    }
  }
  .about {
    height: auto;
    margin-bottom: 0;

    .splash {
    padding-top: 50%;
    padding-bottom: 0;

    h1 {
      font-size: 80%;
      width: auto;
    }
  }
}
  .small-width p {
    padding: 0 10px 10px;
  }

  .page-content {
    padding-top: 50px;
  }

  .title-wrap {
    width: 70%;
    margin-bottom: auto;
  }
  .site-description {
    display: none;
  }
  .header-email {
    display: none;
  }
  .page-content {
    margin: 0;
  }
  .odd-image, .even-image {
    float: none;
    margin: auto;
  }
  ul.post-list {
    margin: 0;
    font-size: $small-font-size;
    h2 {
      margin: 0;
      font-size: 120%;
      line-height: 1.1;
      word-wrap: -1;
    }
  }

  ul.maestro-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 3px 10px 0;
      line-height: 1;
      font-size: $small-font-size;
      max-width: 11em;

      img {
        opacity: 1;
      }

      a {
        font-size: 90%;
      }
    }
  }


  //Maestro Pages

  .maestros-page {
    display: flex;
  }
  .col-one {
    flex: 2;
  }
  .col-two {
    flex: 4;
    padding: 0 $spacing-unit;
  }
  .col-three {
    flex: 1;
    font-size: 90%;
    line-height: 1.1;

    li {
      margin-bottom: 5px;
    }
  }
}
