@media (max-width: $on-laptop){
  header {
    width: 9.5em;
  }
  .page-content {
    margin-left: 9.5em;
  }
  iframe {
    width: 450px;
    height: 263px;
  }
  .article {
    display: block;
  }
  .col-left img {
    margin-bottom: 5px;
  }
  .col-left, .col-right {
    max-width: 100%;
  }
  .col-right {
    padding: 10px;
    border: 1px #000 solid;
    border-radius: 5px;
    margin-bottom: 10px;
    background: lighten($background-color, 5%);

    .clearfix {
      padding-left: 0;
      margin-left: 0;
      border: 0;
    }
  }
}
@media (max-width: $on-palm){
  header {
    width: 100%;
    height: auto;
    position: relative;
    border-top: 2px solid $grey-color-dark;

    h1 {
      text-align: left;
    }
  }

  .title-wrap {
    width: 70%;
    margin-bottom: auto;
  }
  .site-description {
    display: none;
  }
  .header-email {
    display: none;
  }
  .page-content {
    margin: 0;
  }
}
