/**
 * Vars
 */
// Our variables
$base-font-family: 'Pavanam', sans-serif;
$headings-font: 'Scope One', serif;
$base-font-size:   17px;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.5;
$base-line-height: 1.6;

$spacing-unit:     30px;

$yellow:          #fec500;
$maroon:           #c82043;
$red:             #d92231;
$green:           #fcd60b;
$hot-pink:        #f30050;
$title-color:      #ddbc95;
$headline-color:    #6d7993;
$text-color:       #1a1a1a;
$background-color: #e2d3b7;
$brand-color:      $maroon;
$hover:           #000;

$nav-color:       #ecb66a;
$nav-hover:       #ee1a1a;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$download:         #268cda;
$selection-color: #cde1aa;

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        900px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
