---
layout: default
---
<div class="article">
    <div class="col-left">
      <div class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {% if page.img %}<img src="{{ site.baseurl }}/img/{{ page.img.medium }}">{% endif %}
      </div>

      <article class="post-content">
      {{ content }}
      </article>
    </div>
    <div class="col-right">
      <div class="clearfix">
        {% for category in site.categories %}
        <li>List of <span class="sidebar">{{ category | first }}</span>
          <ul>
            {% for posts in category %}
            {% for post in posts %}
            <li>{% if post.img %}<img src="{{ site.baseurl }}/img/{{ post.img.small }}">{% endif %}</br>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </div>
    </div>
</div>
