---
layout: default
---
<div class="article">
    <div class="col-left">
      <div class="post-header">
        <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-author">{% if page.author %}{{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>

      </div>

      <article class="post-content">
        {% if page.img %}<img src="{{ site.baseurl }}/img/{{ page.img.medium }}">{% endif %}
      {{ content }}
      </article>
    </div>
    <div class="col-right">
      <div class="clearfix">
        {% for category in site.categories %}
        <li><span class="sidebar">{{ category | first }}</span>
          <ul>
            {% for posts in category %}
            {% for post in posts limit:8 %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </div>
    </div>
</div>
